Package: com.ao.slanted
Name: LS Slanted
Version: 1.3.2
Architecture: iphoneos-arm
Homepage: http://adventureowl.github.io/
Depends: com.groovycarrot.groovyapi, com.matchstic.infostats
Author: AdventureOwl <borgen180@gmail.com>
Maintainer: AdventureOwl <borgen180@gmail.com>
Description: A sexy LS Widget showing time, date and battery level with inbuilt tap to unlock!
Section: Themes
