Package: com.ao.toilet
Name: LS Toilet
Version: 1.0
Architecture: iphoneos-arm
Homepage: http://adventureowl.github.io/
Depends: com.groovycarrot.groovyapi, com.matchstic.infostats
Author: AdventureOwl <borgen180@gmail.com>
Maintainer: AdventureOwl <borgen180@gmail.com>
Description: A modified version of JJ.LS83 by Schnedi.
Section: Themes
