*{
	margin: 0;
	padding: 0;
}
.container {
	height: 568px;
	width: 320px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
.text {
	position: absolute;
	text-align: center;
	width: 320px;
	top: 200px;
}
.text2 {
	position: absolute;
	text-align: center;
	width: 320px;
	top: 240px;
}