* {
	padding: 0;
	margin: 0;
}
.container {
	height: 568px;
	width: 320px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
.time {
	position: absolute;
	font-size: 2em;
	width: 320px;
	text-align: center;
	color: #000000;
	opacity: 0;
}
.time span#t1 {
	font-family: 'rb'
}
.time span#t2 {
	font-family: 'rl'
}
.date {
	position: absolute;
	font-size: 1em;
	width: 320px;
	text-align: center;
	color: #000000;
	opacity: 0;
	text-transform: uppercase;
}
.date span#d1 {
	font-family: 'rb'
}
.date span#d2 {
	font-family: 'rl'
}
.beeper {
	position: absolute;
	font-size: 1em;
	width: 320px;
	top: 1px;
	text-align: center;
	color: #ffffff;
	opacity: 0;
	z-index: 4;
	text-transform: uppercase;
}
.beeper span#bee {
	font-family: 'rb'
}
.beeper span#per {
	font-family: 'rl'
}
.touchbox {
	position: absolute;
	width: 320px;
	height: 50px;
	background-color: #ff0000;
	left: 0px;
	opacity: 0;
	z-index: 3;
}
.r1 {
	position: absolute;
	width: 180px;
	height: 20px;

	background-color: black;
	opacity: 0;
	z-index: 2;
}
.r2 {
	position: absolute;
	width: 200px;
	height: 20px;
	background-color: black;
	opacity: 0;
	z-index: 1;
	
}
.tap {
	position: absolute;
	width: 40px;
	left: 140px;
	top: 240px;
	opacity: 0;
}
.slide {
	position: absolute;
	width: 40px;
	left: 140px;
	top: 290px;
	opacity: 0;
}
@font-face{
	font-family: 'rb';
	src:url(Roboto-Bold.ttf);
}
@font-face{
	font-family: 'rl';
	src:url(Roboto-Light.ttf);
}