.box {
	padding: 5px 0px 5px 0px;
}
.title {
	font-family: 'ubuntu';
	background-color: #d3d8e2;
	padding: 15px 20px 15px 20px;
	margin-left: 5px;
	margin-right: 5px;
	border: 2px solid #d3d8e2;
}
.content {
	background-color: #f9f9f9;
	padding: 15px 20px 15px 20px;
	margin-left: 5px;
	margin-right: 5px;
	border-top: 0px;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: #d3d8e2;
	font-family: 'ubuntu';
}
.content#contact {
	text-align: center;
}
.screenshot {
	width: 94%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;
	padding-right: 3%;
	background-color: transparent;
}

.dp {
    list-style-type: square;
    background-color: transparent;
    padding-right: 0px;
}
li {
	background-color: transparent;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
}

@font-face{
	font-family: 'ubuntu';
	src:url(ubuntu-light.ttf);
}