Package: com.ao.sbdigital
Name: SB Digital
Version: 1.0
Architecture: iphoneos-arm
Description: A sweet SBHTML to match LS Digital.
Depiction: http://adventureowl.github.io/web/depictions/sbdigital.html
Homepage: http://adventureowl.github.io/
Depends: com.matchstic.infostats
Author: AdventureOwl <borgen180@gmail.com>
Maintainer: AdventureOwl <borgen180@gmail.com>
Section: Themes
