
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 320px;
	height: 568px;
	color: black;
	border-right: 3px solid #0fbf7f;
	border-bottom: 3px solid #0fbf7f;
}
.container div#hour {
	position: absolute;
	width: 80px;
	text-align: center;
	font-size: 60px;
	top: 220px;
	left: 80;
	color: 0fbf7f;
	font-family: 'ahg';
	font-size: 2em;
}
.container div#min {
	position: absolute;
	width: 80px;
	text-align: center;
	font-size: 60px;
	top: 220px;
	left: 151px;
	color: 0fbf7f;
	font-family: 'ahg';
	font-size: 2em;
}
.container img#pic {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 568px;
	width: 320px;
	z-index: -1;
}
.container div#tang {
	position: absolute;
	top: 0px;
	height: 20px;
	width: 250px;
	background-color: #f0c40d;
	z-index: 1;
}
.container div#boxbg {
	position: absolute;
	top: 0px;
	height: 20px;
	width: 320px;
	background-color: #000000;
	z-index: 0;
	opacity: 0.2;
}
@font-face{
	font-family: 'ahg';
	src:url(AlteHaasGroteskBold.ttf);
}